@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6;
  }
}

/* #6f6fe7 */
:root {
  --ground: #1f1d2b;
  --accent: #05c391;
  --glow-pink: #fb37ff;
  --glow-cyan: #18b2de;
}

.gradient-text {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    135.01deg,
    #ff3337 -0.04%,
    #f8ca53 38%,
    /* #009a8f 63.71%, */ #05c391 63.71%,
    rgba(255, 255, 255, 0) 117%
  );
}

.landingpage {
  margin: 0 auto;
  position: relative;
  background-color: var(--ground);
}

.landingpage::before {
  content: '';
  position: absolute;
  width: 123px;
  height: 123px;
  left: 60%;
  top: 210px;
  filter: blur(90px);
  background-color: var(--glow-pink);
}
.landingpage::after {
  content: '';
  position: absolute;
  width: 123px;
  height: 123px;
  right: 5%;
  top: 550px;
  background-color: var(--glow-cyan);
  filter: blur(80px);
}
.cta-wrapper {
  position: relative;
}
.cta-wrapper::before {
  content: '';
  position: absolute;
  width: 123px;
  height: 123px;
  right: 5%;
  top: -50px;
  filter: blur(110px);
  background-color: var(--glow-pink);
}
.cta-wrapper::after {
  content: '';
  position: absolute;
  width: 123px;
  height: 123px;
  left: 5%;
  bottom: -50px;
  background-color: var(--glow-cyan);
  filter: blur(130px);
}

/* .cta-card-bg { */
/*   background-image: linear-gradient(324deg, rgb(27 157 149) -20.32%, #6f6fe7 103.51%); */
/*   background-image: linear-gradient(90deg, #06c5f9 0%, #05c391 100%); */
/* } */

/* @layer components { */
/*   .dot-list > li:not(:first-child) { */
/*     @apply flex items-center before:relative before:h-1.5 before:w-1.5 before:mr-2 before:bg-accent before:rounded-full; */
/*   } */
/* } */
